{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Сброс пароля отправлен</h4>
                </div>
                <div class="card-body">
                    <p>Мы отправили вам инструкции по установке нового пароля на указанный адрес электронной почты. Вы должны получить их в ближайшее время.</p>
                    <p>Если вы не получили письмо, пожалуйста, проверьте правильность указанного адреса и папку "Спам" вашего почтового ящика.</p>
                    <hr>
                    <a href="{% url 'login' %}" class="btn btn-primary">Вернуться на страницу входа</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 