{% load i18n %}
{% autoescape off %}
{% blocktrans %}Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте {{ site_name }}.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Ваше имя пользователя, если вы забыли:" %} {{ user.get_username }}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endautoescape %} 