{% extends 'base.html' %}

{% block title %}Статистика - Time Tracker{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Статистика за последние 7 дней</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">Общее время работы</h5>
                                <p class="card-text">
                                    {% if formatted_time %}
                                        {{ formatted_time }}
                                    {% else %}
                                        00:00:00
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <h5 class="card-title">Клавиатурная активность</h5>
                                <p class="card-text">{{ keyboard_activity }} нажатий</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Топ приложений</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Приложение</th>
                                <th>Время работы</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for app in apps %}
                            <tr>
                                <td>{{ app.name }}</td>
                                <td>
                                    {% if app.formatted_time %}
                                        {{ app.formatted_time }}
                                    {% else %}
                                        00:00:00
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2" class="text-center">Нет данных</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 