{% extends "base.html" %}

{% block title %}Пароль успешно изменен{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">Пароль успешно изменен</h4>
                </div>
                <div class="card-body">
                    <p>Ваш пароль был успешно изменен. Теперь вы можете войти в систему с новым паролем.</p>
                    <div class="mt-3">
                        <a href="{% url 'account_login' %}" class="btn btn-primary">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
